[project]
	description = A sample REST application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saravanan Renganathan (jrsaravanan)
[access "refs/for/refs/*"]
	read = group user/Saravanan Renganathan (jrsaravanan)
	push = group user/Saravanan Renganathan (jrsaravanan)
	label-Code-Review = -2..+2 group user/Saravanan Renganathan (jrsaravanan)
	label-Verified = -1..+1 group user/Saravanan Renganathan (jrsaravanan)
	rebase = group user/Saravanan Renganathan (jrsaravanan)
	removeReviewer = group user/Saravanan Renganathan (jrsaravanan)
	submit = group user/Saravanan Renganathan (jrsaravanan)
[access "refs/heads/*"]
	read = group user/Saravanan Renganathan (jrsaravanan)
	create = group user/Saravanan Renganathan (jrsaravanan)
	push = +force group user/Saravanan Renganathan (jrsaravanan)
	pushMerge = group user/Saravanan Renganathan (jrsaravanan)
[access "refs/tags/*"]
	push = +force group user/Saravanan Renganathan (jrsaravanan)
	pushTag = group user/Saravanan Renganathan (jrsaravanan)
	pushSignedTag = group user/Saravanan Renganathan (jrsaravanan)
